{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_style.css") }}">
{% endblock %}

{% block body %}
    <main class="flex-1 container-register-form grid grid-cols-12">
        <section class="left-aside grid-cols-1">
        </section>

        <section class="col-start-2 col-end-13 flex flex-col items-center justify-center py-8">
            <h1 class="text-stroke custom-h1 md:mb-6">Mot de passe oublié</h1>

            {{ form_errors(requestPassForm) }}

            {{ form_start(requestPassForm) }}
            <div>
                {{ form_row(requestPassForm.email) }}
                {{ form_row(requestPassForm.Envoyer) }}
            </div>
            {{ form_end(requestPassForm) }}
        </section>
    </main>
{% endblock %}
