{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_style.css") }}">
{% endblock %}

{% block body %}
    <main class= "flex-1 container-register-form grid grid-cols-12">
        <section class="left-aside grid-cols-1">
        </section>

        <section class="col-start-2 col-end-13 flex flex-col items-center justify-center py-8">
            <h1 class="text-stroke custom-h1 md:mb-6">Inscription</h1>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="grid">
                <div class="md:flex md:gap-10">
                    {{ form_row(registrationForm.director_firstname) }}
                    {{ form_row(registrationForm.director_lastname) }}
                </div>
                <br>
                <div class="md:flex md:gap-10">
                    {{ form_row(registrationForm.company_name) }}
                    {{ form_row(registrationForm.siret_number) }}
                </div>
                <div>
                    {{ form_row(registrationForm.address) }}
                </div>
                <div class="md:flex md:gap-10">
                    {{ form_row(registrationForm.zipcode) }}
                    {{ form_row(registrationForm.city) }}
                </div>
                <div>
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="md:flex md:gap-10">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>
                <div class="md:flex md:my-6 justify-center">
                    {{ form_row(registrationForm.logo) }}
                </div>
                {% if registrationForm.logo%}
                <div class="md:flex justify-center md:mb-6">
                    <img id="image" alt="" class="rounded-full w-24 h-24">
                </div>
                {% endif %}
                {{ form_row(registrationForm.Envoyer) }}
            </div>
            {{ form_end(registrationForm) }}
            <div>
                <a href="/connexion" class="text-lg">Déjà inscrit ?</a>
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ asset("assets/js/preview_img.js") }}"></script>
{% endblock %}