<div class="my-menu-legend py-5 lg:w-lg lg:mx-auto">
    <h3 class="pb-5 !important text-2xl capitalize text-center lg:text-4xl" id="legend">légende</h3>
    <div class="grid grid-cols-3">
        <div class="mb-3">
            <img class="h-10 w-10 mx-auto lg:h-12 lg:w-12" src="{{ asset('assets/img/Logo_Local.svg') }}" alt="produits locaux">
            <h4 class="text-center mt-1 capitalize">local</h4>
        </div>
        <div class="mb-3">
            <img class="h-10 w-10 mx-auto lg:h-12 lg:w-12" src="{{ asset('assets/img/Logo_Bio.svg') }}" alt="produits biologiques">
            <h4 class="text-center mt-1 capitalize">bio</h4>
        </div>
        <div>
            <img class="h-10 w-10 mx-auto lg:h-12 lg:w-12" src="{{ asset('assets/img/Logo_Gluten_Free.svg') }}" alt="produits sans gluten">
            <h4 class="text-center mt-1 capitalize">sans gluten</h4>
        </div>
    </div>
    <div class="grid grid-cols-3">
        <div class="mb-3">
            <img class="h-10 w-10 mx-auto lg:h-12 lg:w-12" src="{{ asset('assets/img/Logo_Alcohol_Free.svg') }}"
                 alt="produits sans alcool">
            <h4 class="text-center mt-1 capitalize">sans alcool</h4>
        </div>
        <div class="mb-3">
            <img class="h-10 w-10 mx-auto lg:h-12 lg:w-12" src="{{ asset('assets/img/Logo_Lactose.svg') }}"
                 alt="produits contenant du lactose">
            <h4 class="text-center mt-1 capitalize">lactose</h4>
        </div>
        <div class="mb-3">
            <img class="h-10 w-10 mx-auto lg:h-12 lg:w-12" src="{{ asset('assets/img/Logo_Nut.svg') }}"
                 alt="produits contenant de l'arachide">
            <h4 class="text-center mt-1 capitalize">arachide</h4>
        </div>
    </div>
</div>