{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block header %}
    {% include '/layouts/_menu-header.html.twig' %}
{% endblock %}



{% block body %}
    <main>
        {% include '/layouts/_menu-category.html.twig' %}
        {% include '/layouts/_menu-filter.html.twig' %}


        <h2 class="flex justify-center text-2xl uppercase">Nos bières</h2>

        {% set blondesHeadingDisplayed = false %}

        {% for product in products %}
        {% if product.category == "Blonde" %}
        {% if not blondesHeadingDisplayed %}
        <div class="flex flex-col justify-center my-blondes">
            <h3 class="ml-5 !important text-2xl">Les blondes</h3>
            {% set blondesHeadingDisplayed = true %}
            {% else %}
                <div class="my-product-card flex">
                    <div class="flex flex-col items-center w-14">
                        {% if product.label != "" %}
                            {% if product.label == "local" %}
                                <img class="h-7 w-7" src="{{ asset('assets/img/Logo_Local.svg') }}" alt="">
                            {% elseif product.label == "biologique" %}
                                <img class="h-7 w-7" src="{{ asset('assets/img/Logo_Bio.svg') }}" alt="">
                            {% elseif product.label == "sans gluten" %}
                                <img class="h-7 w-7" src="{{ asset('assets/img/Logo_Gluten_Free.svg') }}" alt="">
                            {% elseif product.label == "sans alcool" %}
                                <img class="h-7 w-7" src="{{ asset('assets/img/Logo_Alcohol_Free.svg') }}" alt="">
                            {% elseif product.label == "avec lactose" %}
                                <img class="h-7 w-7" src="{{ asset('assets/img/Logo_Lactose.svg') }}" alt="">
                            {% elseif product.label == "avec arachides" %}
                                <img class="h-7 w-7" src="{{ asset('assets/img/Logo_Nut.svg') }}" alt="">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="flex flex-col">
                        <h4 class="flex">{{ product.name }}</h4>
                        <div class="flex">
                            <span>{{ product.style }}</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span class="font-bold">{{ product.degreOfAlcohol }}%</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span>{{ product.capacity / 10 }} cl</span>
                        </div>
                        <!-- {{ dump(product) }} -->
                        <div class="flex">
                            <p>{{ product.customerDescription }}</p>
                        </div>
                        <div class="flex">
                            <span>{{ product.brand }}</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span>{{ product.origin }}</span>
                        </div>
                    </div>
                </div>

            {% endif %}
            {% endif %}
            {% endfor %}
    </main>
{% endblock %}
