{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}


     {% block styles_additionnels %}
         <link rel="stylesheet" href="{{ asset("assets/css/carte_style.css") }}">{% endblock %}


{% block header %}
    {% include '/layouts/_menu-header.html.twig' %}
{% endblock %}



{% block body %}



    <main class="mt-0">
        <!--menu avec les catégories de produits (blondes, brunes, softs...) -->
        {% include '/layouts/_menu-category.html.twig' %}


        <!--menu avec les filtres et la barre de recherche -->
        {% include '/layouts/_menu-filter.html.twig' %}

        <!--modal panier -->
        {% include '/layouts/_vente-cart-modal.html.twig' %}

        <h2 class="flex justify-center text-2xl uppercase mt-5">Nos bières</h2>
        
        <!-- Affichage catégorie blondes -->

        {% set blondesHeadingDisplayed = false %}

        {% for product in products %}

        {% if product.category == "Blonde" %}
        {% if not blondesHeadingDisplayed %}
        {% set blondesHeadingDisplayed = true %}
        <div class="flex flex-col justify-center my-blondes my-container ">
            <h3 class="ml-5 my-5 !important text-2xl" id="blondes">Les blondes</h3>
            {% endif %}

            <div class="my-product-card grid grid-cols-8 mb-5 pb-3">
                <div class="my-product-data flex flex-col col-start-1 col-end-3">
                    <h4 class="text-xs flex justify-center items-center" id="name{{ loop.index0 }}">{{ product.name }}</h4>
                    <p class="flex justify-center items-center text-center">{{ product.brand }}</p>
                    <span class="my-invisible" id="id{{ loop.index0 }}" data-productId = {{ product.id }}>{{ product.id }}</span>
                    <div class="flex flex-col items-center">
                        {% if product.label != "" %}
                            {% if product.label == "Local" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Local.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Biologique" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Bio.svg') }}" alt=""></a>
                            {% elseif product.label == "Sans gluten" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Gluten_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Sans alcool" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Alcohol_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec lactose" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Lactose.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec arachides" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Nut.svg') }}" alt=""></a>
                            {% endif %}
                        {% endif %}
                        <img class="h-7 w-7 my-1" id="infoBtn{{ loop.index0 }}" onclick="infoModal(this, {{ loop.index0 }})" src="{{ asset('assets/img/info.svg') }}" alt="">

                    </div>
                </div>
                {% if product.stock >= product.threshold %}
                    <div class="my-product-data flex flex-col col-start-3 col-end-7">
                        <div class="flex items-center">
                            <span>{{ product.style }}</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span class="font-bold">{{ product.degreeOfAlcohol }}%</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span id="capacity{{ loop.index0 }}">{{ product.capacity / 10 }} cl</span>
                        </div>
                        <div class="flex flex-col">
                            <p>{{ product.customerDescription }}</p>
                            <p>{{ product.origin }}</p>
                        </div>
                    </div>


                    <div class="col-start-7 col-end-9 flex flex-col justify-between">
                        <div class="my-price flex justify-center font-bold">
                            <p id="price{{ loop.index0 }}">{{ product.price / 100 }}€</p>
                        </div>
                        <div class="my-stock flex items-center">
                            <input class="my-stock-value h-7 w-10 flex justify-center text-center mx-auto p-1 rounded-lg" id="stock{{ loop.index0 }}" type="number"
                                   value="{{ product.stock }}">
                        </div>
                        <div class="flex">
                            <button class="my-minus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="minus(this, {{ loop.index0 }})" ><img class="mx-auto" src="{{ asset('assets/img/minus.svg') }}" alt=""></button>
                            <input class="my-quantity h-7 w-7 flex justify-center text-center mx-auto p-1 rounded-lg" id="qty{{ loop.index0 }}"  type="number" value="0">
                            <button class="my-plus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="plus(this,  {{ loop.index0 }}) "><img class="mx-auto" src="{{ asset('assets/img/plus.svg') }}" alt=""></button>
                        </div>
                    </div>
                {% else %}
                    <div class="my-product-data col-start-3 col-end-8">
                        <img src="{{ asset('assets/img/Stock.svg') }}" alt="">
                    </div>
                {% endif %}
            </div>
            {% endif %}
            {% include '/layouts/_vente-info-modal.html.twig' %}



            {% endfor %}

        </div>
        <!-- Fin Affichage catégorie blondes -->

        <!-- Affichage catégorie brunes -->

        {% set brunesHeadingDisplayed = false %}

        {% for product in products %}
        {% if product.category == "Brune" %}
        {% if not brunesHeadingDisplayed %}
        {% set brunesHeadingDisplayed = true %}
        <div class="flex flex-col justify-center my-brunes my-container">
            <h3 class="ml-5 my-5 !important text-2xl" id="brunes">Les brunes</h3>
            {% endif %}
            <div class="my-product-card grid grid-cols-8 mb-5 pb-3">
                <div class="my-product-data flex flex-col col-start-1 col-end-3">
                    <h4 class="text-xs flex justify-center items-center">{{ product.name }}</h4>
                    <p class="flex justify-center items-center text-center">{{ product.brand }}</p>
                    <div class="flex flex-col items-center">
                        {% if product.label != "" %}
                            {% if product.label == "Local" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Local.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Biologique" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Bio.svg') }}" alt=""></a>
                            {% elseif product.label == "Sans gluten" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Gluten_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Sans alcool" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Alcohol_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec lactose" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Lactose.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec arachides" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Nut.svg') }}" alt=""></a>
                            {% endif %}
                        {% endif %}
                        <img class="h-7 w-7 my-1" id="infoBtn{{ loop.index0 }}" onclick="infoModal(this, {{ loop.index0 }})" src="{{ asset('assets/img/info.svg') }}" alt="">
                    </div>
                </div>
                {% if product.stock >= product.threshold %}
                    <div class="my-product-data flex flex-col col-start-3 col-end-7">
                        <div class="flex items-center">
                            <span>{{ product.style }}</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span class="font-bold">{{ product.degreeOfAlcohol }}%</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span>{{ product.capacity / 10 }} cl</span>
                        </div>
                        <div class="flex flex-col">
                            <p>{{ product.customerDescription }}</p>
                            <p>{{ product.origin }}</p>
                        </div>
                    </div>


                    <div class="col-start-7 col-end-9 flex flex-col justify-between">
                        <div class="my-price flex justify-center font-bold">
                            <p>{{ product.price / 100 }}€</p>
                        </div>
                        <div class="my-stock flex items-center">
                            <input class="my-stock-value h-7 w-10 flex justify-center text-center mx-auto p-1 rounded-lg" id="stock{{ loop.index0 }}" type="number"
                                   value="{{ product.stock }}">
                        </div>
                        <div class="flex">
                            <button class="my-minus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="minus(this, {{ loop.index0 }}) " ><img class="mx-auto" src="{{ asset('assets/img/minus.svg') }}" alt=""></button>
                            <input class="my-quantity h-7 w-7 flex justify-center text-center mx-auto p-1 rounded-lg" id="qty{{ loop.index0 }}"  type="number" value="0">
                            <button class="my-plus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="plus(this,  {{ loop.index0 }})"><img class="mx-auto" src="{{ asset('assets/img/plus.svg') }}" alt=""></button>
                        </div>
                    </div>
                {% else %}
                    <div class="my-product-data col-start-3 col-end-8">
                        <img src="{{ asset('assets/img/Stock.svg') }}" alt="">
                    </div>
                {% endif %}
            </div>
            {% endif %}



            {% endfor %}

        </div>
        <!-- Fin Affichage catégorie brunes -->

        <!-- Affichage catégorie blanches -->

        {% set blanchesHeadingDisplayed = false %}

        {% for product in products %}
        {% if product.category == "Blanche" %}
        {% if not blanchesHeadingDisplayed %}
        {% set blanchesHeadingDisplayed = true %}
        <div class="flex flex-col justify-center my-blanches my-container">
            <h3 class="ml-5 my-5 !important text-2xl" id="blanches">Les blanches</h3>
            {% endif %}
            <div class="my-product-card grid grid-cols-8 mb-5 pb-3">
                <div class="my-product-data flex flex-col col-start-1 col-end-3">
                    <h4 class="text-xs flex justify-center items-center">{{ product.name }}</h4>
                    <p class="flex justify-center items-center text-center">{{ product.brand }}</p>
                    <div class="flex flex-col items-center">
                        {% if product.label != "" %}
                            {% if product.label == "Local" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Local.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Biologique" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Bio.svg') }}" alt=""></a>
                            {% elseif product.label == "Sans gluten" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Gluten_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Sans alcool" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Alcohol_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec lactose" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Lactose.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec arachides" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Nut.svg') }}" alt=""></a>
                            {% endif %}
                        {% endif %}
                        <img class="h-7 w-7 my-1" id="infoBtn{{ loop.index0 }}" onclick="infoModal(this, {{ loop.index0 }})" src="{{ asset('assets/img/info.svg') }}" alt="">
                    </div>
                </div>
                {% if product.stock >= product.threshold %}
                    <div class="my-product-data flex flex-col col-start-3 col-end-7">
                        <div class="flex items-center">
                            <span>{{ product.style }}</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span class="font-bold">{{ product.degreeOfAlcohol }}%</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span>{{ product.capacity / 10 }} cl</span>
                        </div>
                        <div class="flex flex-col">
                            <p>{{ product.customerDescription }}</p>
                            <p>{{ product.origin }}</p>
                        </div>
                    </div>


                    <div class="col-start-7 col-end-9 flex flex-col justify-between">
                        <div class="my-price flex justify-center font-bold">
                            <p>{{ product.price / 100 }}€</p>
                        </div>
                        <div class="my-stock flex items-center">
                            <input class="my-stock-value h-7 w-10 flex justify-center text-center mx-auto p-1 rounded-lg" id="stock{{ loop.index0 }}" type="number"
                                   value="{{ product.stock }}">
                        </div>
                        <div class="flex">
                            <button class="my-minus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="minus(this, {{ loop.index0 }}) " ><img class="mx-auto" src="{{ asset('assets/img/minus.svg') }}" alt=""></button>
                            <input class="my-quantity h-7 w-7 flex justify-center text-center mx-auto p-1 rounded-lg" id="qty{{ loop.index0 }}"  type="number" value="0">
                            <button class="my-plus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="plus(this,  {{ loop.index0 }})"><img class="mx-auto" src="{{ asset('assets/img/plus.svg') }}" alt=""></button>
                        </div>
                    </div>
                {% else %}
                    <div class="my-product-data col-start-3 col-end-8">
                        <img src="{{ asset('assets/img/Stock.svg') }}" alt="">
                    </div>
                {% endif %}
            </div>
            {% endif %}

            {% endfor %}
        </div>

        <!-- Fin Affichage catégorie blanches -->

        <!-- Affichage catégorie ambrées -->

        {% set ambreesHeadingDisplayed = false %}

        {% for product in products %}
        {% if product.category == "Ambrée" %}
        {% if not ambreesHeadingDisplayed %}
        {% set ambreesHeadingDisplayed = true %}
        <div class="flex flex-col justify-center my-ambrees my-menu-container">
            <h3 class="ml-5 my-5 !important text-2xl" id="ambrees">Les ambrées</h3>
            {% endif %}
            <div class="my-product-card grid grid-cols-8 mb-5 pb-3">
                <div class="my-product-data flex flex-col col-start-1 col-end-3">
                    <h4 class="text-xs flex justify-center items-center">{{ product.name }}</h4>
                    <p class="flex justify-center items-center text-center">{{ product.brand }}</p>
                    <div class="flex flex-col items-center">
                        {% if product.label != "" %}
                            {% if product.label == "Local" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Local.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Biologique" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Bio.svg') }}" alt=""></a>
                            {% elseif product.label == "Sans gluten" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Gluten_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Sans alcool" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Alcohol_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec lactose" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Lactose.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec arachides" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Nut.svg') }}" alt=""></a>
                            {% endif %}
                        {% endif %}
                        <img class="h-7 w-7 my-1" id="infoBtn{{ loop.index0 }}" onclick="infoModal(this, {{ loop.index0 }})" src="{{ asset('assets/img/info.svg') }}" alt="">
                    </div>
                </div>
                {% if product.stock >= product.threshold %}
                    <div class="my-product-data flex flex-col col-start-3 col-end-7">
                        <div class="flex items-center">
                            <span>{{ product.style }}</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span class="font-bold">{{ product.degreeOfAlcohol }}%</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span>{{ product.capacity / 10 }} cl</span>
                        </div>
                        <div class="flex flex-col">
                            <p>{{ product.customerDescription }}</p>
                            <p>{{ product.origin }}</p>
                        </div>
                    </div>


                    <div class="col-start-7 col-end-9 flex flex-col justify-between">
                        <div class="my-price flex justify-center font-bold">
                            <p>{{ product.price / 100 }}€</p>
                        </div>
                        <div class="my-stock flex items-center">
                            <input class="my-stock-value h-7 w-10 flex justify-center text-center mx-auto p-1 rounded-lg" id="stock{{ loop.index0 }}" type="number"
                                   value="{{ product.stock }}">
                        </div>
                        <div class="flex">
                            <button class="my-minus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="minus(this, {{ loop.index0 }}) " ><img class="mx-auto" src="{{ asset('assets/img/minus.svg') }}" alt=""></button>
                            <input class="my-quantity h-7 w-7 flex justify-center text-center mx-auto p-1 rounded-lg" id="qty{{ loop.index0 }}"  type="number" value="0">
                            <button class="my-plus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="plus(this,  {{ loop.index0 }})"><img class="mx-auto" src="{{ asset('assets/img/plus.svg') }}" alt=""></button>
                        </div>
                    </div>
                {% else %}
                    <div class="my-product-data col-start-3 col-end-8">
                        <img src="{{ asset('assets/img/Stock.svg') }}" alt="">
                    </div>
                {% endif %}
            </div>
            {% endif %}

            {% endfor %}
        </div>

        <!-- Fin Affichage catégorie ambrées -->

        <!-- Affichage catégorie fruitées -->

        {% set fruiteesHeadingDisplayed = false %}

        {% for product in products %}
        {% if product.category == "Fruitée" %}
        {% if not fruiteesHeadingDisplayed %}
        {% set fruiteesHeadingDisplayed = true %}
        <div class="flex flex-col justify-center my-fruitees my-container">
            <h3 class="ml-5 my-5 !important text-2xl" id="fruitees">Les fruitées</h3>
            {% endif %}
            <div class="my-product-card grid grid-cols-8 mb-5 pb-3">
                <div class="my-product-data flex flex-col col-start-1 col-end-3">
                    <h4 class="text-xs flex justify-center items-center">{{ product.name }}</h4>
                    <p class="flex justify-center items-center text-center">{{ product.brand }}</p>
                    <div class="flex flex-col items-center">
                        {% if product.label != "" %}
                            {% if product.label == "Local" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Local.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Biologique" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Bio.svg') }}" alt=""></a>
                            {% elseif product.label == "Sans gluten" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Gluten_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Sans alcool" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Alcohol_Free.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec lactose" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Lactose.svg') }}"
                                                       alt=""></a>
                            {% elseif product.label == "Avec arachides" %}
                                <a href="#legend"><img class="h-7 w-7 mx-auto"
                                                       src="{{ asset('assets/img/Logo_Nut.svg') }}" alt=""></a>
                            {% endif %}
                        {% endif %}
                        <img class="h-7 w-7 my-1" id="infoBtn{{ loop.index0 }}" onclick="infoModal(this, {{ loop.index0 }})" src="{{ asset('assets/img/info.svg') }}" alt="">
                    </div>
                </div>
                {% if product.stock >= product.threshold %}
                    <div class="my-product-data flex flex-col col-start-3 col-end-7">
                        <div class="flex items-center">
                            <span>{{ product.style }}</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span class="font-bold">{{ product.degreeOfAlcohol }}%</span>
                            <img class="mx-2 my-auto" src="{{ asset('assets/img/Puce_wine.svg') }}" alt="">
                            <span>{{ product.capacity / 10 }} cl</span>
                        </div>
                        <div class="flex flex-col">
                            <p>{{ product.customerDescription }}</p>
                            <p>{{ product.origin }}</p>
                        </div>
                    </div>


                    <div class="col-start-7 col-end-9 flex flex-col justify-between">
                        <div class="my-price flex justify-center font-bold">
                            <p>{{ product.price / 100 }}€</p>
                        </div>
                        <div class="my-stock flex items-center">
                            <input class="my-stock-value h-7 w-10 flex justify-center text-center mx-auto p-1 rounded-lg" id="stock{{ loop.index0 }}" type="number"
                                   value="{{ product.stock }}">
                        </div>
                        <div class="flex">
                            <button class="my-minus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="minus(this, {{ loop.index0 }}) " ><img class="mx-auto" src="{{ asset('assets/img/minus.svg') }}" alt=""></button>
                            <input class="my-quantity h-7 w-7 flex justify-center text-center mx-auto p-1 rounded-lg" id="qty{{ loop.index0 }}"  type="number" value="0">
                            <button class="my-plus h-7 w-7 items-center mx-auto p-1 rounded-lg" onclick="plus(this,  {{ loop.index0 }})"><img class="mx-auto" src="{{ asset('assets/img/plus.svg') }}" alt=""></button>
                        </div>
                    </div>
                {% else %}
                    <div class="my-product-data col-start-3 col-end-8">
                        <img src="{{ asset('assets/img/Stock.svg') }}" alt="">
                    </div>
                {% endif %}
            </div>
            {% endif %}

            {% endfor %}
        </div>

        <!-- Fin Affichage catégorie fruitées -->

        <!-- Affichage catégorie sans alcool -->

        <!-- Fin Affichage catégorie sans alcool -->

        <!-- Affichage catégorie sans soft -->

        <!-- Fin Affichage catégorie soft -->


        {% include '/layouts/_menu-legend.html.twig' %}
        {% block scripts %}
            <script src="{{ asset('assets/js/vente.js') }}"></script>
        {% endblock %}

    </main>
{% endblock %}
{% block footer %}
    {% include '/layouts/_menu-footer.html.twig' %}
{% endblock %}


