{% extends 'base.html.twig' %}

{% block body %}
    <main class="flex-1 container-register-form grid grid-cols-12">
    {# Section latérale #}
    <section class="left-aside grid-cols-1">
        <div>
            <ul>
                <li class="flex justify-center mt-52">
                    <div id="return"
                         class="rounded-full w-6 md:w-16 h-6 mx-1 md:h-16 div-img flex justify-center items-center cursor-pointer" data-companyId="{{ company_id }}">
                         <a href="/dashboard"><img src=" {{ asset("assets/img/bouton-retour.png") }}" class="w-8 md:w-16" title="Retour"></a>
                    </div>
            </ul>
        </div>
    </section>
    {# Section principale #}
    <section class="col-start-2 col-end-13 flex flex-col items-center py-4 relative mx-10">
    <div class="w-full flex flex-col justify-center">
                {% if company_logo is defined %}
                    <div class="w-full flex justify-center"><img src=" {{ asset("uploaded_img/" ~ company_logo) }}" class="w-20 md:w-40 mt-5 md:mt-0">
                    </div>
                {% else %}
                    <div class="w-full flex justify-center"><img src=" {{ asset("assets/img/default-logo.png") }}" class="w-20 md:w-40 mt-5 md:mt-0">
                    </div>
                {% endif %}
        <div class="w-full flex justify-center my-4">
            <h1 class="text-stroke custom-h1sm md:m-6 text-3xl">Bienvenue sur votre tableau de bord {{ app.session.get('user_name') }}!</h1>
        </div>
        <a href="/logout"><img src=" {{ asset("assets/img/logout-wine.png") }}"
                               class="w-8 h-8 absolute top-5 right-5" title="Déconnexion"></a>
    </div>
    {% include "/layouts/_company_update.html.twig" %}
    </section>
{% endblock %}

{% block scripts %}
    <script defer src="{{ asset("assets/js/dashboard.js") }}"></script>
    <script src="{{ asset("assets/js/preview_img.js") }}"></script>
{% endblock %}