{% extends 'base.html.twig' %}

{% block title %}Bienvenue {{ app.session.get('user_name') }}!{% endblock %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_style.css") }}">
{% endblock %}

{% block body %}

    <main class="flex-1 container-register-form grid grid-cols-12">
        <section class="left-aside grid-cols-1">
            <div class="fixed">
                <ul>
                    <li class="flex justify-center mt-52">
                        <div id="employee" class="rounded-full w-16 h-16 div-img flex justify-center items-center cursor-pointer" data-companyId="{{ company_id }}"><img
                                        src=" {{ asset("assets/img/icon_employee.png") }}" class="w-10"
                                        title="Employés"></div>
                    </li>
                    <li class="flex justify-center my-14">
                        <div id="product" class="rounded-full w-16 h-16 div-img flex justify-center items-center cursor-pointer" data-companyId="{{ company_id }}"><img
                                        src=" {{ asset("assets/img/icon_product.png") }}" class="w-10" title="Produits">
                        </div>
                    </li>
                    <li class="flex justify-center my-14">
                        <div id="event" class="rounded-full w-16 h-16 div-img flex justify-center items-center cursor-pointer" data-companyId="{{ company_id }}"><img
                                        src=" {{ asset("assets/img/icon_event.png") }}" class="w-10" title="Évènements">
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="col-start-2 col-end-13 flex flex-col items-center py-4 relative">
            <div class="w-full flex flex-col justify-center">
                <div class="w-full flex justify-center"><img src=" {{ asset("assets/img/logo-cheers-beers-wine.png") }}"
                                                             class="w-40"></div>
                <div class="w-full flex justify-center my-4"><h1 class="text-stroke custom-h1sm md:mb-6">Bienvenue sur votre tableau de
                        bord {{ app.session.get('user_name') }}!</h1></div>
                <a href="/logout"><img src=" {{ asset("assets/img/logout-wine.png") }}"
                                       class="w-8 h-8 absolute top-5 right-5" title="Déconnexion"></a>
            </div>
            <div class="">

            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ asset("assets/js/dashboard.js") }}"></script>
{% endblock %}
