{% extends 'base.html.twig' %}

{% block title %}Bienvenue {{ app.session.get('user_name') }}!{% endblock %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_style.css") }}">
{% endblock %}

{% block body %}

    <main class="flex-1 container-register-form grid grid-cols-12">
        <section class="left-aside grid-cols-1">
            <div>
                <ul>
                    <li class="flex justify-center mt-52">
                        <div id="employee"
                             class="rounded-full w-16 h-16 div-img flex justify-center items-center cursor-pointer activTab"
                             data-companyId="{{ company_id }}"><img
                                    src=" {{ asset("assets/img/icon_employee.png") }}" class="w-10"
                                    title="Employés"></div>
                    </li>
                    <li class="flex justify-center my-14">
                        <div id="product"
                             class="rounded-full w-16 h-16 div-img flex justify-center items-center cursor-pointer"
                             data-companyId="{{ company_id }}">
                            <img src=" {{ asset("assets/img/icon_product.png") }}" class="w-10" title="Produits">
                        </div>
                    </li>
                    <li class="flex justify-center my-14">
                        <div id="event"
                             class="rounded-full w-16 h-16 div-img flex justify-center items-center cursor-pointer"
                             data-companyId="{{ company_id }}"><img
                                    src=" {{ asset("assets/img/icon_event.png") }}" class="w-10" title="Évènements">
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="col-start-2 col-end-13 flex flex-col items-center py-4 relative mx-10">
            <div class="w-full flex flex-col justify-center">
                <div class="w-full flex justify-center"><img src=" {{ asset("assets/img/logo-cheers-beers-wine.png") }}"
                                                             class="w-40"></div>
                <div class="w-full flex justify-center my-4">
                    <h1 class="text-stroke custom-h1sm md:m-6 text-3xl">Bienvenue sur votre tableau de
                        bord {{ app.session.get('user_name') }}!</h1></div>
                <a href="/logout"><img src=" {{ asset("assets/img/logout-wine.png") }}"
                                       class="w-8 h-8 absolute top-5 right-5" title="Déconnexion"></a>
            </div>
            <div id="productForm" class="w-full flex flex-col justify-center rounded-lg hidden">
                {{ form_errors(productForm) }}

                {{ form_start(productForm) }}
                <div class="grid dashFormBg mb-16 pb-14 rounded-xl">
                    <h2 class="text-4xl m-6">Produits</h2>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(productForm.name) }}
                        {{ form_row(productForm.brand) }}
                        {{ form_row(productForm.degre_of_alcohol) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(productForm.category) }}
                        {{ form_row(productForm.style) }}
                        {{ form_row(productForm.capacity) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(productForm.label) }}
                        {{ form_row(productForm.origin) }}
                    </div>
                </div>
                <div class="grid dashFormBg mb-16 pb-10 rounded-xl">
                    <h2 class="text-4xl m-6">Vente / Gestion</h2>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(productForm.price) }}
                        {{ form_row(productForm.promotion) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(productForm.stock) }}
                        {{ form_row(productForm.threshold) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(productForm.customer_description) }}
                        {{ form_row(productForm.employee_description) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(productForm.Envoyer) }}
                    </div>
                </div>
                {{ form_end(productForm) }}

            {# Ajouter le tableau de produits ici #}
            </div>
            <div id="employeeForm" class="w-full flex flex-col justify-center rounded-lg">
                {{ form_errors(employeeForm) }}

                {{ form_start(employeeForm) }}
                <div class="grid dashFormBg mb-16 pb-14 rounded-xl">
                    <h2 class="text-4xl m-6">Employés</h2>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(employeeForm.firstname) }}
                        {{ form_row(employeeForm.lastname) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(employeeForm.employee_number) }}
                        {{ form_row(employeeForm.roles) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(employeeForm.Envoyer) }}
                    </div>
                </div>
                {{ form_end(employeeForm) }}

                {# Ajouter le tableau des employés ici #}
            </div>
            <div id="eventForm" class="w-full flex flex-col justify-center rounded-lg hidden">
                {{ form_errors(eventForm) }}

                {{ form_start(eventForm) }}
                <div class="grid dashFormBg mb-16 pb-14 rounded-xl">
                    <h2 class="text-4xl m-6">Évènements</h2>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(eventForm.name) }}
                        {{ form_row(eventForm.theme) }}
                        {{ form_row(eventForm.display_time_period) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(eventForm.start_date) }}
                        {{ form_row(eventForm.end_date) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(eventForm.start_time) }}
                        {{ form_row(eventForm.end_time) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(eventForm.image) }}
                        {{ form_row(eventForm.description) }}
                    </div>
                    <div class="flex justify-center gap-32 my-4">
                        {{ form_row(eventForm.Envoyer) }}
                    </div>
                </div>
                {{ form_end(eventForm) }}
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ asset("assets/js/dashboard.js") }}"></script>
{% endblock %}
