{% extends 'base.html.twig' %}

{% block title %}Bienvenue {{ app.session.get('user_name') }}!{% endblock %}

{% block styles_additionnels %}
    <link rel="stylesheet" href="{{ asset("assets/css/dashboard_style.css") }}">
{% endblock %}

{% block body %}
    <main class="flex-1 container-register-form grid grid-cols-12">
        {# Section latérale #}
        <section class="left-aside grid-cols-1">
            <div>
                <ul>
                    <li class="flex justify-center mt-40 md:mt-52">
                        <div id="employee"
                             class="rounded-full w-6 md:w-16 h-6 mx-1 md:h-16 div-img flex justify-center items-center cursor-pointer {% if action is defined and action != "update_event" and action != "update_product" %} activTab"
                             {% endif %}data-companyId="{{ company_id }}"><img
                                    src=" {{ asset("assets/img/icon_employee.png") }}" class="w-4 md:w-10"
                                    title="Employés">
                        </div>
                    </li>
                    <li class="flex justify-center my-6 md:my-14">
                        <div id="product"
                             class="rounded-full w-6 md:w-16 h-6 mx-1 md:h-16 div-img flex justify-center items-center cursor-pointer"
                             data-companyId="{{ company_id }}">
                            <img src=" {{ asset("assets/img/icon_product.png") }}" class="w-4 md:w-10" title="Produits">
                        </div>
                    </li>
                    <li class="flex justify-center my-6 md:my-14">
                        <div id="event"
                             class="rounded-full w-6 md:w-16 h-6 mx-1 md:h-16 div-img flex justify-center items-center cursor-pointer"
                             data-companyId="{{ company_id }}">
                            <img src=" {{ asset("assets/img/calendar.png") }}" class="w-4 md:w-10" title="Évènements">
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        {# Section principale #}
        <section class="col-start-2 col-end-13 flex flex-col items-center md:py-4 relative md:mx-10 mx-2">
            <div class="w-full flex flex-col justify-center">
                <a href="/company_update" class="underline text-wine mt-0.5 md:mt-2 text-xs md:text-base">Modifier les informations de l'entreprise</a>
                {% if company_logo is defined %}
                    <div class="w-full flex justify-center"><img src=" {{ asset("uploaded_img/" ~ company_logo) }}" class="w-20 md:w-40 mt-5 md:mt-0">
                    </div>
                {% else %}
                    <div class="w-full flex justify-center"><img src=" {{ asset("assets/img/default-logo.png") }}" class="w-20 md:w-40 mt-5 md:mt-0">
                    </div>
                {% endif %}
                <div class="w-full flex justify-center my-4">
                    <h1 class="text-stroke custom-h1sm md:m-6 md:text-3xl">Bienvenue sur votre tableau de
                        bord {{ app.session.get('user_name') }}!</h1></div>
                <a href="/logout"><img src=" {{ asset("assets/img/logout-wine.png") }}"
                                       class="w-3 md:w-8 h-3 md:h-8 absolute top-1 md:top-5 right-0 md:right-5"
                                       title="Déconnexion"></a>
            </div>

            {# On affiche un layout différent en fonction de la route définie par le dashboardController #}
            {% if route is defined and route == "dashboard" %}
                {% include "/layouts/_dashboard.html.twig" %}
            {% else %}
                {% include "/layouts/_update.html.twig" %}
            {% endif %}
        </section>
    </main>

    {% block scripts %}
        {# On applique le Javascript uniquement sur la route /dashboard #}
        {% if route is defined and route == "dashboard" %}
            <script defer src="{{ asset("assets/js/dashboard.js") }}"></script>
        {% endif %}
    {% endblock %}
{% endblock %}
